@model RoomInfoIndexPageViewModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "直播间设置";
}

<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">直播间设置</div>
            <div class="layui-card-body" pad15>
                <div class="layui-form" lay-filter="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播Id</label>
                        <div class="layui-input-inline">
                            <input type="text" name="roomId" value="@Model.LiveRoomInfo.room_id" lay-verify="roomId" autocomplete="off" disabled class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">直播间Id，无法修改。</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">直播分类</label>
                        <div class="layui-input-inline">
                            <select name="areaId" lay-search>
                                <option value="">请选择</option>
                                @{
                                    foreach (var pItem in Model.LiveAreas)
                                    {
                                        <optgroup label="@pItem.name">
                                            @{
                                                if (pItem.list != null && pItem.list.Count > 0)
                                                {
                                                    foreach (var child in pItem.list)
                                                    {
                                                        @Html.Raw($"<option value=\"{child.id}\" {(Model.LiveRoomInfo.area_v2_id == child.id ? "selected" : "")}>{child.name}</option>")
                                                    }
                                                }
                                            }
                                        </optgroup>
                                    }
                                }
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">选择正确的直播间分类，错误的分类可能会导致直播间被封。</div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">直播名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="roomName" value="@Model.LiveRoomInfo.title" lay-verify="roomName" autocomplete="off" placeholder="请输入直播间名称" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">自动重试</label>
                        <div class="layui-input-inline">
                            <input type="radio" name="isAutoRetry" lay-filter="isAutoRetry" value="1" title="是" @(Model.LiveSetting?.IsAutoRetry == true ? "checked" : "")>
                            <input type="radio" name="isAutoRetry" lay-filter="isAutoRetry" value="0" title="否" @(Model.LiveSetting?.IsAutoRetry == true ? "" : "checked")>
                        </div>
                        <div class="layui-form-mid layui-word-aux">当直播推流异常终止后，是否自动重新开启推流。</div>
                    </div>
                    <div class="layui-form-item" id="retrySet" style="@(Model.LiveSetting?.IsAutoRetry == true ? "" : "display:none")">
                        <label class="layui-form-label">重试间隔时间</label>
                        <div class="layui-input-inline">
                            <input type="number" name="retryInterval" lay-affix="number" placeholder="单位：秒" value="@(Model.LiveSetting == null ? "30" : Model.LiveSetting.RetryInterval)" step="10" min="30" max="300" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">单位：秒，不能小于30秒。</div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-filter="submit_liveinfo" lay-submit>确认修改</button>
                            <button type="reset" id="reset" class="layui-btn layui-btn-primary">重新加载</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style>
        .layui-form-label {
            width: 100px;
        }

        .layui-form-item .layui-input-inline {
            width: 210px;
        }
    </style>
}

@section Scripts {
    <script>
        layui.config({
            base: '@Url.Content("~/layuiadmin/")' // 静态资源所在路径
        }).use(['form', 'layer', 'jquery'], function () {
            $ = layui.jquery;
            var layer = layui.layer,
                form = layui.form;
            form.on('radio(isAutoRetry)', function (data) {
                if (data.value == 1) {
                    $('#retrySet').show();
                } else {
                    $('#retrySet').hide();
                }
            });

            $("#reset").click(function () {
                var loadIndex = layer.load(2, {
                    timeout: 300000
                });
                location.reload();
            });

            form.on('submit(submit_liveinfo)', function (data) {
                if (data.field) {
                    if (data.field.isAutoRetry == '1') {
                        data.field.isAutoRetry = true;
                    }
                    else {
                        data.field.isAutoRetry = false;
                    }
                }
                var loadIndex = layer.load(2, {
                    timeout: 300000
                });
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Update", "Room")",
                    cache: false,
                    data: JSON.stringify(data.field),
                    contentType: 'application/json',
                    dataType: 'json', // 返回对象
                    success: function (data) {
                        layer.close(loadIndex);
                        if (!data) {
                            layer.msg("保存失败，返回参数为空", { icon: 5 });
                            return;
                        }
                        if (data.code != 0) {
                            layer.msg(data.message, { icon: 5 });
                            return;
                        }
                        layer.msg('保存成功', { icon: 1 });
                    },
                    error: function (data) {
                        layer.close(loadIndex);
                        layer.msg("保存失败，未知错误", { icon: 5 });
                        console.log(data);
                    }
                });

                return false;
            });
        });
    </script>
}
